<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Api_key" value = "62658b395513caf8046463decc3b9a4d"/>
    <add key ="Secret_key" value = "e94499569cb62370"/>
    <add key ="flickrApiURL" value = "http://api.flickr.com/services/rest/?"/>
    <add key ="flickrApiMethodKey" value ="method={0}"/>
    <add key ="flickrApiUserId" value ="user_id={0}"/>
    <add key ="flickrApi_key" value ="api_key={0}"/>
    <add key ="flickrApiSafeSearch" value ="safe_search={0}"/>
    <add key ="flickrApiPages" value ="per_page={0}"/>
    <add key ="flickrApiTags" value ="tags={0}"/>
    <add key ="flickrPicURL" value ="http://farm{0}.static.flickr.com/{1}/{2}_{3}_"/>
    <add key ="MRSSFileNameFormat" value ="Filckr_MRSS_{0}.xml"/>
  </appSettings>
</configuration>