<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <sectionGroup name="gotdotnet.elmah">
    <!-- Indicates that inside the section group there will be an errorLog section -->
    <section name="errorLog" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- Indicates that inside the section group there will be an errorMail section -->
    <section name="errorMail" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </sectionGroup>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <gotdotnet.elmah>
    <!-- This section contains the type of the error logger
             to use (SqlErrorLog, MemoryErrorLog, or a custom logger).
             as well as the properties pertinent to the error logger
             (e.g., connectionString for the SqlErrorLog). -->

    <errorLog type="GotDotNet.Elmah.SqlErrorLog, GotDotNet.Elmah, Version=1.0.5527.0, Culture=neutral, PublicKeyToken=978d5e1bd64b33e5"
        connectionString="Server=(local);Database=ELMAH;Trusted_Connection=True;" />
    <!-- To have an administrator e-mailed with details of the exception, uncomment 
             the following section. You MUST specify a to e-mail address; 
             you can optionally specify a from (default is same as to);
             (consult the code for ErrorMailModule for more optional setting values) -->
    <!--
        <errorMail 
            from="admin@example.com"
            to="admin@example.com"
            subject="..."
            async="true|false" />
        -->
  </gotdotnet.elmah>
  <system.web>

    <httpHandlers>
      <!-- Register that a request to elmah/default.aspx should be serviced by the 
                ErrorLogPageFactory HTTP Handler factory -->
      <add verb="POST,GET,HEAD" path="elmah/default.aspx" 
           type="GotDotNet.Elmah.ErrorLogPageFactory, GotDotNet.Elmah, Version=1.0.5527.0, Culture=neutral, PublicKeyToken=978d5e1bd64b33e5" />
    </httpHandlers>

    <httpModules>
        <!-- Adds the ErrorLogModule to the HTTP pipeline. -->
        <add name="ErrorLog" type="GotDotNet.Elmah.ErrorLogModule, GotDotNet.Elmah, Version=1.0.5527.0, Culture=neutral, PublicKeyToken=978d5e1bd64b33e5" />

        <!-- Adds the ErrorMailModule to the HTTP pipeline. -->

        <add name="ErrorMail" type="GotDotNet.Elmah.ErrorMailModule, GotDotNet.Elmah, Version=1.0.5527.0, Culture=neutral, PublicKeyToken=978d5e1bd64b33e5" />

    </httpModules>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
