<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<!-- Data Visualization-->
				<binding name="WSHttpBinding_IDataVisualization" closeTimeout="00:10:00"
					openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
					bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
					messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
					allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
											maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
											enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
													realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
													algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>

			<netTcpBinding>
				<!-- Data Visualization -->
				<binding name="NetTcpBinding_IDataVisualization" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
					hostNameComparisonMode="StrongWildcard" listenBacklog="10"
					maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="512"
					maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
						maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
						enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://localhost:26950/DataVisualization.svc"
						binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataVisualization"
						contract="IDataVisualization" name="WSHttpBinding_IDataVisualization">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- Data Visualization end points -->
			<endpoint address="net.tcp://seadoodapp01.onviaweb.prod:8008/DataVisualization/DataVisualization"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataVisualization"
                contract="IDataVisualization" name="NetTcpBinding_IDataVisualization">
				<identity>
					<userPrincipalName value="" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>